<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.basichomeloan.basicapp"
	android:installLocation="auto">

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:resizeable="true"
		android:smallScreens="true"
		android:xlargeScreens="true" />
	<!--
 remove permissions that your app doesn't require;
    asking for authority over unwanted information can cause damage to your reputation among your users
    -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		tools:remove="android:maxSdkVersion" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" /> <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
	<!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
	<!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->
	<!-- remove location.gps feature if not using permission ACCESS_FINE_LOCATION -->
	<!-- <uses-feature android:name="android.hardware.location.gps" /> -->
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<application
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/app_icon"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		tools:ignore="AllowBackup,UnusedAttribute">
		<activity android:name="com.basichomeloan.basicapp.MessageActivity"></activity>
		<activity
			android:name="com.basichomeloan.basicapp.SplashScreen"
			android:label="@string/app_name"
			android:screenOrientation="portrait"
			android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.basichomeloan.basicapp.MainActivity"
			android:screenOrientation="portrait"> <!-- remove or alter as your apps requirement -->
			<intent-filter android:label="@string/app_name">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data
					android:host="dev-basicapp.basichomeloan.com"
					android:pathPrefix="/"
					android:scheme="https" />
				<!-- if you want only a specific directory from your website to be opened in the app through external links -->
			</intent-filter>
			<intent-filter android:label="OpenURI">
				<action android:name="Open_URI" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="com.basichomeloan.basicapp.ShareActivity">
			<intent-filter android:label="Share">
				<action android:name="android.intent.action.SEND" />

				<category android:name="android.intent.category.DEFAULT" />

				<data android:mimeType="text/*" />
				<!-- <data android:mimeType="image/*" /> -->
			</intent-filter>
		</activity>

		<service android:name="com.basichomeloan.basicapp.Firebase">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
			</intent-filter>
		</service>

		<meta-data
			android:name="com.google.android.gms.ads.AD_MANAGER_APP"
			android:value="true" />
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>

</manifest>
